
@{
    ViewBag.Title = "БАНКИ";
}

<div class="jumbotron text-center">
    <h1>Company</h1>
    <p>We specialize in blablabla</p>
    <form class="form-inline">
        <input type="email" class="form-control" size="50" placeholder="Email Address">
        <button type="button" class="btn btn-danger">Subscribe</button>
    </form>
</div>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Наименование Банка</th>
                <th>Описание</th>
                <th>Официальный сайт</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var b in ViewBag.Banks)
            {
                <tr>
                    <td>@b.BankName</td>
                    <td>@b.Description</td>
                    <td>@b.WebPage</td>
                </tr>
            }            
        </tbody>
    </table>
</div>
