@{
    ViewBag.Title = "Вклады(Депозиты)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="title" align="center">
    <h1><b>Вклады в белорусских рублях и иностранной валюте</b></h1>
</div>
<div class="container">
    @Html.Partial("CalcDepositIncomePartial")
</div>
<div class="table-responsive">
    @Html.Partial("DepositsPartial")
</div>
