@{
    ViewBag.Title = "About";
}
<h4>Приложение разработано в рамках работы над дипломным проектом на тему:</h4>
<h3>"Веб-ориентированное приложение «Справочник банков и банковских услуг для физических лиц»"</h3>

<p>Мячков Дмитрий Сергеевич</p>
<p>гр. 4032</p>
<p>Целью дипломного проекта является повышение финансовой грамот-ности населения. Для достижения 
   поставленной цели необходимо разрабо-тать и создать веб-ориентированное приложение. Данное 
   приложение долж-но обеспечивать доступ к справочной информации о банках Республики Бе-ларусь, 
   об установленных курсах обмена иностранных валют и об основных услугах для физических лиц, а 
   также должно позволять производить расчет суммы дохода по вкладу (депозиту), расчет платежей 
   по кредиту, расчет эк-вивалента при обмене валюты с помощью конвертера валют.</p>
<p></p>
